/* color palette from <https://github.com/vuejs/theme> */
:root {
    --vt-c-indigo: #2c3e50;

    // light colors
    --vt-c-white: #ffffff;
    --vt-c-white-soft: #f8f8f8;
    --vt-c-white-mute: #f2f2f2;

    --vt-c-text-light-1: var(--vt-c-indigo);
    --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
    --vt-c-divider-light-1: rgba(18, 20, 30, 0.29);
    --vt-c-divider-light-2: rgba(18, 20, 30, 0.12);

    // dark colors
    --vt-c-black: #07080c;
    --vt-c-black-soft: #0a0b11;
    --vt-c-black-mute: #0c0d14;

    --vt-c-text-dark-1: var(--vt-c-white);
    --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
    --vt-c-divider-dark-1: rgba(25,27,42, 0.65);
    --vt-c-divider-dark-2: rgba(25,27,42, 0.48);
}


  