// Definir las variables con tamaños de fuente en px y rem
$text-medium-px: 16.5px; // Tamaño de fuente "little" en píxeles
$text-medium-rem: 1.03125rem; // Tamaño de fuente "little" en rem (16 * 1.03125)

$text-default-px: 16px; 
$text-default-rem: 1rem; // Tamaño de fuente "default" en rem (1rem de 16px)

$text-large-px: 20px; // Tamaño de fuente "grande" en píxeles
$text-large-rem: 1.25rem; // Tamaño de fuente "grande" en rem (16 * 1.25)